<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="/../static/custom.css">
        <title>Login to Sketchy bank</title>
    </head>
    <body>
        <header>
            <nav class="navbar navbar-expand-lg navbar-light bg-light"> 
            <a class="navbar-brand" href="{% url 'bank_app:index' %}">Sketchy Bank</a>
            </nav>
        </header>
        <hr>
        <main>
            <form class="main-form" action="{% url 'login' %}" method="POST">
                <fieldset class="main-fieldset">
                    <legend>Please login</legend>
                    {% csrf_token %}
                    <label for="username">Enter your username</label>
                    <input type="text" name="username" placeholder="User name">
                    <label for="password">Enter your password</label>
                    <input type="password" name="password" placeholder="Password">
                    <button class="btn btn-primary">Submit</button>
                </fieldset>
            </form>
        </main>
    </body>
</html>
