body {
background-color: red;
}

.navbar {
    justify-content: space-between;
    padding: 0.5rem 3rem 0.5rem 3rem;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

main {
    width: 80%;
    margin: auto;
}

.table {
    min-width: 60%;
}
a {
    text-decoration: none;
    font-weight: 500;
}
.main-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 30%;
    margin: auto;
    margin-top: 5%;
}
.main-fieldset{
    display:flex;
    flex-direction: column;
}
.main-fieldset > button {
    margin-top: 5%;
    margin-bottom: 10%;

}
