{% extends "base.html" %}

{% block main %}

<h2>Welcome, {{ user.customer.full_name }}.</h2>

<h3>Choose a card</h3>

<form class="main-form" action="{% url 'bank_app:make_loan' %}" method="post">
    <h4>Make loan </h4>
    {% csrf_token %}
    <fieldset class="main-fieldset">
    <label for="name">Card type</label>
        <input name="name" type="text" />
        <input name="name" type="text" />
    </label>
    <label for="amount">Amount </label>
        <input name="amount" />
    <button class="btn btn-primary">Submit</button>
    </fieldset>
</form>
<table class="table table-striped table-bordered">
    <tr>
        <th>Account Number</th>
        <th>Account Name</th>
    </tr>
    {% for account in accounts %}
    <tr>
        <td><a href="{% url 'bank_app:account_details' account.pk %}">{{ account.pk }}</a></td>
        <td>{{ account.name }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock main %}
