{% extends "base.html" %}

{% block main %}

<h2>Welcome, {{ user.customer.full_name }}.</h2>

<h3>My accounts:</h3>
<table class="table table-striped table-bordered">
    <tr>
        <th>Account Number</th>
        <th>Account Name</th>
    </tr>
    {% for account in accounts %}
    <tr>
        <td><a href="{% url 'bank_app:account_details' account.pk %}">{{ account.pk }}</a></td>
        <td>{{ account.name }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock main %}
