{% extends "base.html" %}

{% block main %}

<form class="main-form" action="{% url 'bank_app:make_loan' %}" method="post">
    <h4>Make loan </h4>
    {% csrf_token %}
    <fieldset class="main-fieldset">
    <label for="name">Name for loan </label>
        <input name="name" type="text" />
    </label>
    <label for="amount">Amount </label>
        <input name="amount" />
    <button class="btn btn-primary">Submit</button>
    </fieldset>
</form>
{% endblock main %}
