{% extends "base.html" %}

{% block main %}
<form class="main-form" action="{% url 'bank_app:make_transfer' %}" method="post">
    <h4>Make transfer </h4>
    {% csrf_token %}
    <fieldset class="main-fieldset">
        {{ transferForm }}
    <button class="btn btn-primary">Make transfer</button>
    </fieldset>
</form>
{% endblock main %}
