{% extends "base.html" %}

{% block main %}
<form class="main-form" action="{% url 'bank_app:staff_new_customer' %}" method="post">
    <h4>Create new customer</h4>
    {% csrf_token %}
    <fieldset class="main-fieldset">
        {{ new_user_form }}
        {{ customer_form }}
    <button class="btn btn-primary">Create User</button>
    </fieldset>
</form>
{% endblock main %}

