{% extends "base.html" %}

{% block main %}

<h3>Customer Details</h3>

<form class="main-form" action="{% url 'bank_app:staff_customer_details' customer.pk %}" method="post">
    {% csrf_token %}
    <fieldset class="main-fieldset">
        {{ user_form }}
        {{ customer_form }}
        <button class="btn btn-primary">Update User</button>
    </fieldset>
</form>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Account Number</th>
            <th>Account Name</th>
            <th>Account Balance</th>
        </tr>
    </thead>
    <tbody id="account-list" hx-swap="outerHTML" hx-get="{% url 'bank_app:staff_account_list_partial' customer.pk %}"
        hx-trigger="load">
    </tbody>

</table>

<h3>Create New Account</h3>
<form class="main-form" action="{% url 'bank_app:staff_new_account_partial' customer.user.pk %}" method="post">
    {% csrf_token %}
    <fieldset class="main-fieldset">
        {{ new_account_form.as_p }}
        <button class="btn btn-primary">Create Account</button>
    </fieldset>
</form>

{% endblock main %}