{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">

    <title>{% block title %} {% endblock %}</title>
</head>
<body>

    {% load l10n %}
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">  
        <a class="navbar-brand" href="{% url 'bank_app:index' %}">Sketchy Bank</a>
        <ul class="navbar-nav">
            {% if user.is_staff %}
            <li><a class="nav-link" href="{% url 'bank_app:staff_new_customer' %}">New Customer</a></li>
            {% else %}
            <li><a class="nav-link" href="{% url 'bank_app:make_transfer' %}">Make Transfer</a></li>
            <li><a class="nav-link" href="{% url 'bank_app:make_loan' %}">Make Loan</a></li>
            {% endif %}
            {% if user.is_superuser %}
                <li><a class="nav-link" href="{% url 'admin:index' %}">Django Admin</a></li>
                {% endif %}
                <li><a class="nav-link" href="{% url 'logout' %}">Log out</a></li>
        </ul>
    </nav>
</header>
    
    
        

    <main>

     {% block main %}
     {% if user.is_staff %}
     <h2> Staff Portal </h2>
     {% else %}
     <h2> Customer Portal </h2>
     {% endif %}
     {% endblock main %}
     
    </main>

    <footer class="bg-light text-center">
        <p>&copy; 2021 Sketchy Bank</p>
    </footer>
    <script src="https://unpkg.com/htmx.org@1.5.0" integrity="sha384-oGA+prIp5Vchu6we2YkI51UtVzN9Jpx2Z7PnR1I78PnZlN8LkrCT4lqqqmDkyrvI" crossorigin="anonymous"></script>
    <script>
        document.body.addEventListener('htmx:configRequest', (event) => {
            event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
        })
    </script>

</body>
</html>
