{% extends "two_factor/_base_focus.html" %}
{% load i18n %}

{% block content %}
  <h1>{% block title %}{% trans "Enable Two-Factor Authentication" %}{% endblock %}</h1>

  <p>{% blocktrans trimmed %}Congratulations, you've successfully enabled two-factor
      authentication.{% endblocktrans %}</p>

    <p><a href="{% url 'bank_app:dashboard' %}"
        class="btn btn-block btn-secondary">{% trans "Continue" %}</a></p>


{% endblock %}
